#Ignore Any file ending in .log:
*.log

#Ignore A file named .env (which usually holds secret API keys)
.env

#Ignore macOS file system named .DS_Store
.DS_Store

#Ignore A folder named node_modules/
node_modules/

#Force Git to track empty assets/ folder
!assets/ 